<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fantasy Life i - Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">
        <header>
            <h1>What life will you choose?</h1>
        </header>

        <main>
            <div id="combat-professions" class="profession-div">
                <h2>Combat</h2>
                <nav>
                    <a href="/hunter-guide">
                        <img height="40" src="images/class-icons/hunt_icon.png" width="40">
                        Hunter
                    </a>
                    <a href="/magician-guide">
                        <img height="40" src="images/class-icons/magic_icon.png" width="40">
                        Magician
                    </a>
                    <a href="/mercenary-guide">
                        <img height="40" src="images/class-icons/merc_icon.png" width="40">
                        Mercenary
                    </a>
                    <a href="/paladin-guide">
                        <img height="40" src="images/class-icons/pal_icon.png" width="40">
                        Paladin
                    </a>
                </nav>
            </div>

            <div id="gathering-professions" class="profession-div">
                <h2>Gathering</h2>
                <nav>
                    <a href="/angler-guide">
                        <img height="40" src="images/class-icons/ang_icon.png" width="40">
                        Angler
                    </a>
                    <a href="/farmer-guide">
                        <img height="40" src="images/class-icons/farm_icon.png" width="40">
                        Farmer
                    </a>
                    <a href="/miner-guide">
                        <img height="40" src="images/class-icons/miner_icon.png" width="40">
                        Miner
                    </a>
                    <a href="/woodcutter-guide">
                        <img height="40" src="images/class-icons/wood_icon.png" width="40">
                        Woodcutter
                    </a>
                </nav>
            </div>

            <div id="crafting-professions" class="profession-div">
                <h2>Crafting</h2>
                <div id="craft-nav-div">
                    <nav>
                        <div class="craft-class">
                            <a href="/alchemist-guide">
                                <img height="40" src="images/class-icons/alch_icon.png" width="40">
                                Alchemist - Tav
                            </a>
                        </div>
                        <div class="craft-class">
                            <a href="/artist-guide">
                                <img height="40" src="images/class-icons/art_icon.png" width="40">
                                Artist
                            </a>
                        </div>
                        <div class="craft-class">
                            <a href="/blacksmith-guide">
                                <img height="40" src="images/class-icons/smith_icon.png" width="40">
                                Blacksmith - Tia
                            </a>
                        </div>
                        <div class="craft-class">
                            <a href="/carpenter-guide">
                                <img height="40" src="images/class-icons/carp_icon.png" width="40">
                                Carpenter - Tia
                            </a>
                        </div>
                        <div class="craft-class">
                            <a href="/cook-guide">
                                <img height="40" src="images/class-icons/cook_icon.png" width="40">
                                Cook - Tia
                            </a>
                        </div>
                        <div class="craft-class">
                            <a href="/tailor-guide">
                                <img height="40" src="images/class-icons/sew_icon.png" width="40">
                                Tailor
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </main>

        <aside>
            <h3>Official Sites</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="https://www.fantasylife.jp/fli/en/" target="_blank">Home Page</a></li>
                    <li><a href="https://www.youtube.com/@LEVEL5ch" target="_blank">LEVEL 5 Youtube Channel</a></li>
                    <li><a href="https://www.nintendo.com/en-gb/Games/Nintendo-Switch-games/FANTASY-LIFE-i-The-Girl-Who-Steals-Time-2339978.html"
                            target="_blank">Nintendo Shop</a></li>
                </ul>
            </nav>

            <h3>Community Sites</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="https://discord.gg/fantasylife-133342059787452416" target="_blank">Community Discord</a></li>
                    <li><a href="https://fantasy-life.fandom.com/wiki/Fantasy_Life_i:_The_Girl_Who_Steals_Time"
                            target="_blank">Fandom Wiki</a></li>
                    <li><a href="https://www.reddit.com/r/fantasylife/" target="_blank">Reddit</a></li>
                </ul>
            </nav>

            <h3>Additional Resources</h3>
            <nav>

            </nav>

            <h3>Dev Corner</h3>
            <nav class="main-nav">
                <ul>
                    <li>About FLi Guide</li>
                    <li>Future Plans</li>
                    <li><a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Feedback & Suggestions</a></li>
                    <li><a href="https://ko-fi.com/mittoa_gaming" target="_blank">Support FLi Guide</a>
                    </li>
                </ul>

            </nav>
        </aside>
    </div>

    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
        <div class="social-links">
            <a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Privacy Policy</a>
            <a href="https://ko-fi.com/mittoa_gaming" target="_blank">Disclaimer</a>
            <a href="/new-home" target="_blank">New Home Test</a>
        </div>
    </footer>
</body>

</html>