<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLi-Guide</title>

    <link rel="stylesheet" href="styles/tailwind.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="m-auto min-h-screen flex flex-col justify-between w-3/6 bg-[#fee7b3]">
    <div class="content-wrapper">
        <header>
            <img src="../images/banner.jpg" alt="Fantasy Life i Logo and Scenic Background" class="aspect-[5/2]">
        </header>
        <main class="grid grid-cols-3 gap-4 ml-4">
            <div class="bg-[#edccab] rounded-md">
                <a href="/game-breakdown">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/mounted-player.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        Game Breakdown
                    </div>
                </a>
            </div>

            <div class="bg-[#edccab] rounded-md">
                <a href="/world-of-fli">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/world-map.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        World of Ginormosia
                    </div>
                </a>
            </div>
            <div class="bg-[#edccab] rounded-md">
                <a href="/quest-guide">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/village.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        Main & Side Quests
                    </div>
                </a>
            </div>
            <div class="bg-[#edccab] rounded-md ">
                <a href="/life-guides">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/life-ui.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        Life Guides
                    </div>
                </a>
            </div>
            <div class="bg-[#edccab] rounded-md">
                <a href="">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/bone_dragon.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        DLC
                    </div>
                </a>
            </div>
            <div class="bg-[#edccab] rounded-md">
                <a href="">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/bone_dragon.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        Database
                    </div>
                </a>
            </div>
            <div class="bg-[#edccab] rounded-md">
                <a href="">
                    <div class="mx-3 mt-3 border-solid border-2 rounded-md border-[#a67647]">
                        <img src="../images/bone_dragon.jpg" alt="test" class="rounded-sm aspect-[4/3]">
                    </div>
                    <div class="text-center font-medium my-2">
                        Database
                    </div>
                </a>
            </div>
        </main>

        <aside class="bg-[#edccab] mr-4 border-solid border-2 rounded-md text-center border-[#a67647] h-fit">
            <div>
                <h3 class="text-2xl font-bold underline mb-2">
                    Official Sites
                </h3>
                <nav class="mb-2">
                    <ul>
                        <li><a href="https://www.fantasylife.jp/fli/en/" target="_blank" rel="noopener">Home
                                Page</a></li>
                        <li><a href="https://www.nintendo.com/en-gb/Games/Nintendo-Switch-games/FANTASY-LIFE-i-The-Girl-Who-Steals-Time-2339978.html"
                                target="_blank" rel="noopener">Nintendo Shop</a></li>
                        <li><a href="https://x.com/FANTASYLIFE_EN" target="_blank" rel="noopener">Twitter - EN</a></li>
                        <li><a href="https://www.youtube.com/@LEVEL5ch" target="_blank" rel="noopener">Youtube
                                Channel</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <h3 class="text-2xl font-bold underline mb-2">
                Community Sites
            </h3>
            <nav class="mb-2">
                <ul>
                    <li><a href="https://discord.gg/fantasylife-133342059787452416" target="_blank" rel="noopener">Discord</a></li>
                    <li><a href="https://www.reddit.com/r/fantasylife/" target="_blank" rel="noopener">Reddit</a></li>
                    <li><a href="https://fantasylife.wiki.gg/wiki/Fantasy_Life_Wiki"
                            target="_blank" rel="noopener">Wiki</a></li>
                </ul>
            </nav>

            <h3 class="text-2xl font-bold underline mb-2">
                Additional Resources
            </h3>
            <nav class="mb-2">

            </nav>

            <h3 class="text-2xl font-bold underline mb-2">
                Dev Corner
            </h3>
            <nav class="mb-2">
                <ul>
                    <li>About FLi Guide</li>
                    <li>Future Plans</li>
                    <li><a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Feedback & Suggestions</a></li>
                    <li><a href="https://ko-fi.com/mittoa_gaming" target="_blank">Support FLi Guide</a>
                    </li>
                </ul>
            </nav>

            <h3 class="text-2xl font-bold text-center underline">
                Kudos
            </h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="">Thank you</a> </li>
                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
        <div class="social-links">
            <a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Privacy Policy</a>
            <a href="https://ko-fi.com/mittoa_gaming" target="_blank">Disclaimer</a>
        </div>
    </footer>
</body>

</html>