<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Recipe</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">
        <header>
            <h1>Thank you for the submission!</h1>
        </header>


        <aside>
            <h3>Site Navigation</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home Page</a></li>
 
                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
        <div class="social-links">
            <a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Privacy Policy</a>
            <a href="https://ko-fi.com/mittoa_gaming" target="_blank">Disclaimer</a>
        </div>
    </footer>
</body>

</html>