<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uh-oh</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>
<body class="void">

    <img src="../images/Void Dragon.jpg" alt="Fantasy Life i Void Dragon">


    <h1>Uh-Oh!!! It looks like you've stumbled across the Void Dragon's Lair!</h1>
    <h2>Quick! Click the back arrow to escape!</h2>
</body>
</html>