/* Overall Styling */

html,
body {
    height: 100%;
}

/* Homepage Styles */

.main-page {
    background: url(../images/crafting_icons.gif) repeat 0 0;
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: auto;
}


.content-wrapper {
    background-color: #fee7b3;
    font-size: 18px;

    display: grid;
    grid-template-columns: 3fr 1fr;

    grid-template-areas:
        "header header"
        "main   sidebar"
        "footer footer";

    grid-gap: 1rem;
}

@media screen and (max-width:780px) {
    .main-page {
        width: 95%;
    }

    .content-wrapper {
        font-size: 17px;

        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
}

/* Void */

.void img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.void {
    background-color: black;
}

.void h1 {
    color: white;
    text-align: center;
    text-decoration: none;
}

.void h2 {
    color: white;
    border: none;
    background-color: black;
}

/* Header Styles */

header::before {
    background: url(../images/banner.jpg) no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 0;
    padding-top: 30%;

    content: "";
    display: block;
}

header {
    grid-area: header;
}

header h1 {
    margin-top: .75rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
}

.adjust-me {
    margin-top: 0;
}

@media screen and (max-width:780px) {
    header h1 {
        margin: auto;
        text-align: center;
    }
}

/* Main Styles */
main {
    grid-area: main;
}

.profession-div {
    display: flex;
    flex-direction: column;
}

/* Combat Profession Styles */

#combat-professions h2 {
    margin-top: 0;
}

#combat-professions nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 1rem;
    margin-right: 1rem;
}

#combat-professions a {
    display: flex;
    align-items: center;
}

#combat-professions img {
    padding-right: .25rem;
}

@media screen and (max-width:780px) {
    #combat-professions nav {
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

/* Gathering Profession Styles */

#gathering-professions nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 1rem;
    margin-right: 1rem;
}

#gathering-professions a {
    display: flex;
    align-items: center;
}

#gathering-professions img {
    padding-right: .25rem;
}

@media screen and (max-width:780px) {
    #gathering-professions nav {
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

/* Crafting Profession Styles */

#craft-nav-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: 1rem;
    margin-right: 1rem;
}

#craft-nav-div nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    column-gap: 5rem;
    row-gap: 1rem;
}

#crafting-professions a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#crafting-professions img {
    padding-right: .25rem;
}

@media screen and (max-width:780px) {
    #craft-nav-div nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        height: auto;

        column-gap: 2rem;
        row-gap: 2rem;
    }
}

/* Form Styles */

.missing_recipe {
    display: grid;
}

.missing_recipe input {
    width: 50%;
}

#listed-submission p {
    padding-left: 1.5rem;
}

/* Link Styles */

a:link {
    color: #551f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #551f00;
}

/* Text Styles */

h1,
h2,
h3 {
    color: #551f00;

}

h1 {
    text-decoration: underline;
}

h2 {
    background-color: #eecea8;
    text-align: center;

    border: solid 3px #948163;

    padding: .25rem;
    border-radius: .5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

main p {
    margin-left: 1.5rem;
    margin-right: 1rem;
}

/* Aside Styles */

aside {
    grid-area: sidebar;
    background-color: #eecea8;
    margin-right: 1.5rem;

    border: solid 3px #948163;
    border-radius: .5rem;

    height: fit-content;
}

h3 {
    text-align: center;
    text-decoration: underline;

    margin-bottom: 0;
}

.main-nav ul {
    margin-top: .5rem;
    padding-left: 0;
}

@media screen and (max-width:780px) {
    aside {
        margin: auto;
        width: 95%;
    }
}

/* List Styles */

li {
    list-style: none;
    text-align: center;
}

.equipment-list li {
    list-style: disc;
    text-align: left;
}
.abilities-list li {
    list-style: disc;
    text-align: left;
}

.command-list summary {
    list-style: none;
    cursor: pointer;
    position:relative;
    padding-left: 20px;
}

.command-list summary::before {
    content: '\25B6'; /* Unicode for a right-pointing triangle */
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.command-list[open] summary::before {
    content: '\25BC'; /* Unicode for a down-pointing triangle */
    transform: rotate(0deg);
}
/* Footer Styles */

footer {
    grid-area: footer;

    background-color: #eecea8;
    color: #551f00;

    margin-top: auto;
    padding: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding-left: 1rem;
}

.social-links a {
    padding-right: 1rem;
}