@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overall Styling */

html {
    color: #551f00;
    background: url(../images/crafting_icons.gif) repeat 0 0;
    font-size: 18px;
}

/* Homepage Styles */

.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main   sidebar"
        "footer footer";

    grid-gap: 1rem;
}

/* Header Styles */

header {
    grid-area: header;
}

/* Main Styles */
main {
    grid-area: main;
}

/* Link Styles */

a:hover {
    text-decoration: underline;
}

/* Text Styles */

h2 {
    background-color: #eecea8;
    text-align: center;

    border: solid 3px #948163;

    padding: .25rem;
    border-radius: .5rem;
}

/* Aside Styles */

aside {
    grid-area: sidebar;
}

/* Footer Styles */

footer {
    grid-area: footer;

    background-color: #edccab;
    margin-top: auto;
    padding: .75rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding-left: 1rem;
}

.social-links a {
    padding-right: 1rem;
}