<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fli-Alchemist Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">
<<<<<<< HEAD

        <header>
            <h1>Alchemist Recipies</h1>

            <div class="bg-blue-500 text-white text-center p-4">
                Hello, Tailwind!
            </div>
        </header>

        <main>
            <p>There are in total 90 recipes in alchemy divided into 4 main components: medicine, bombs, flasks and accessories.</p>
            <p>Recipes for Alchemist items are given by the Alchemist Master, Flamel, by all of the characters related to the alchemist life, by leveling up within the Class and for the DLC recipes by Divinus.</p>
        </main>
=======
        <header>
            <h1>Blacksmithing</h1>
        </header>
>>>>>>> 3e45f60717017aa98e2611658d7a77fc7abf1644

        <aside>
            <h3>Official Sites</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="https://www.fantasylife.jp/fli/en/" target="_blank">Home Page</a></li>
                    <li><a href="https://www.youtube.com/@LEVEL5ch" target="_blank">LEVEL 5 Youtube Channel</a></li>
                    <li><a href="https://www.nintendo.com/en-gb/Games/Nintendo-Switch-games/FANTASY-LIFE-i-The-Girl-Who-Steals-Time-2339978.html"
                            target="_blank">Nintendo Shop</a></li>
                </ul>
            </nav>

            <h3>Community Sites</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="https://discord.gg/fantasylife-133342059787452416" target="_blank">Community Discord</a></li>
                    <li><a href="https://fantasy-life.fandom.com/wiki/Fantasy_Life_i:_The_Girl_Who_Steals_Time"
                            target="_blank">Fandom Wiki</a></li>
                    <li><a href="https://www.reddit.com/r/fantasylife/" target="_blank">Reddit</a></li>
                </ul>
            </nav>

            <h3>Additional Resources</h3>
            <nav>

            </nav>

            <h3>Dev Corner</h3>
            <nav class="main-nav">
                <ul>
                    <li>About FLi Guide</li>
                    <li>Future Plans</li>
                    <li><a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Feedback & Suggestions</a></li>
                    <li><a href="https://ko-fi.com/mittoa_gaming" target="_blank">Support FLi Guide</a>
                    </li>
                </ul>

            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
        <div class="social-links">
            <a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Privacy Policy</a>
            <a href="https://ko-fi.com/mittoa_gaming" target="_blank">Disclaimer</a>
        </div>
    </footer>
</body>

</html>