<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fli-Artist Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">

        <header>
            <h1>Artist</h1>
        </header>

        <main>
            <h2>Sorry! This is a new life, there is not much information for it yet! This page will update as time goes on.</h2>
        
        </main>


        <aside>
            <h3>Site Navigation</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
    </footer>
</body>

</html>