<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLi-Carpenter Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">
        <header>
            <h1>Carpentry</h1>
        </header>

        <main>
            <h2 class="adjust-me">Gameplay</h2>

            <p>
                The Carpenter is a Life you can choose in the game Fantasy Life. It is one of 14 Lives that can be chosen at any time during the game by visiting the Guild Master (except during a story mission).

                The Carpenter uses saws to make weapons, tools and furniture. There are 117 carpenter recipes in the base game and 161 with the DLC.
            </p>

            <h2>Skills</h2>

            <p>
                When the player chooses the Carpenter life, they learn 4 skills: Carpentry, Furniture Carpentry, Weapons Carpentry, and Tools Carpentry. The max skill level is 15 (20 with the DLC). To unlock the new cap, you must reach Legend rank and talk to Divinus with the Carpenter Life activated. He will increase the cap of all 4 skills to 20 and upgrade the licence to God-in-Training rank.
            </p>

            <fieldset class="craft-selection">
                <legend>Carpenter Recipes</legend>
                <select id="carpenter_recipe" name="carpenter_recipe">
                    <option value='none'>-- Select a Recipe --</option>
                    <option value='fishing_pole'>Fishing Pole</option>
                    <option value='staff'>Staff</option>
                    <option value='desk'>Desk</option>
                    <option value='chair'>Chair</option>
                </select>


                <button type="submit" class="main-button">Get Recipe</button>
            </fieldset>


            <h2>Missing Recipe</h2>

            <p>
                Data for the game is collected at the pace of whenever I'm able to play (which isn't often). If you see
                a recipe that isn't included in the option above, feel free to submit it for review! I'll take a look
                and add it to the database once it's determined that it's valid.
            </p>
            <form method="post" action="submitted-recipes">

                <fieldset class="missing_recipe">
                    <legend>Blacksmithing Recipe</legend>
                    <label for="recipe_name">Recipe Name:</label>
                    <input type="text" id="recipe_name" name="recipe_name" placeholder="Enter recipe name">

                    <label for="main_resource">Main Resource:</label>
                    <input type="text" id="main_resource" name="main_resource" placeholder="Enter main resource">

                    <label for="main_quantity">Main Quantity:</label>
                    <input type="text" id="main_quantity" name="main_quantity"
                        placeholder="Enter main resource quantity">

                    <label for="sec_resource">Secondary Resource:</label>
                    <input type="text" id="sec_resource" name="sec_resource" placeholder="Enter secondary resource">

                    <label for="sec_quantity">Secondary Quantity:</label>
                    <input type="text" id="sec_quantity" name="sec_quantity"
                        placeholder="Enter secondary resource quantity">

                    <label for="opt_reagent">Optional Reagent:</label>
                    <input type="text" id="opt_reagent" name="opt_reagent" placeholder="Enter optional reagent">

                    <label for="opt_quantity">Optional Reagent Quantity:</label>
                    <input type="text" id="opt_quantity" name="opt_quantity"
                        placeholder="Enter optional reagent quantity">

                    <br>

                    <button type="submit" class="main-button">Submit Recipe</button>
                </fieldset>
            </form>
        </main>

        <aside>
            <h3>Site Navigation</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home Page</a></li>

                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
        <div class="social-links">
            <a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Privacy Policy</a>
            <a href="https://ko-fi.com/mittoa_gaming" target="_blank">Disclaimer</a>
        </div>
    </footer>
</body>

</html>