<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLi - Hunter Guide</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/tailwind.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="m-auto min-h-screen w-3/6 bg-[#fee7b3]">
    <div class="mx-4">
        <header>
            <div class="text-3xl">
                Hunter
            </div>
        </header>
        <main>
            <div>
                <div>

                    <img class="float-right" src="images/paladin.png" alt="Paladin">
                    <div
                        class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                        
                        <h2>Description</h2>
                    </div>
                    <div>
                        <p>
                            Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada
                            pellentesque. In id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros,
                            vitae accumsan eros lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien.
                            Maecenas a est eget libero tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt
                            dignissim.
                        </p>
                </div>
                </div>

                <div
                    class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                    Playstyle
                </div>
                <div>
                    <p>
                        Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada
                        pellentesque. In id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros,
                        vitae accumsan eros lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien.
                        Maecenas a est eget libero tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt
                        dignissim.
                    </p>
                </div>

                <div
                    class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                    Abilities
                </div>
                <div>
                    <p>
                        Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada
                        pellentesque. In id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros,
                        vitae accumsan eros lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien.
                        Maecenas a est eget libero tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt
                        dignissim.
                    </p>
                </div>

                <div
                    class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                    Gear
                </div>
                <div>
                    <p>
                        Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada
                        pellentesque. In id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros,
                        vitae accumsan eros lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien.
                        Maecenas a est eget libero tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt
                        dignissim.
                    </p>
                </div>

                <div
                    class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                    Ranks & Challenges
                </div>
                <div>
                    <p>
                        Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada
                        pellentesque. In id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros,
                        vitae accumsan eros lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien.
                        Maecenas a est eget libero tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt
                        dignissim.
                    </p>
                </div>

                <div
                    class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                    Class Quests
                </div>
                <div>
                    Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada pellentesque.
                    In id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros, vitae accumsan
                    eros lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien. Maecenas a est
                    eget libero tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt dignissim.
                </div>
            </div>
            <div
                class="text-xl font-semibold p-1 bg-[#edccab] border-solid border-2 rounded-md text-center border-[#a67647]">
                Bounties
            </div>
            <div>
                Donec condimentum ipsum a ex pulvinar aliquet. Pellentesque eu lectus nec mi malesuada pellentesque. In
                id lobortis metus. Aenean eu ex vel est pulvinar lacinia. In porta tempor eros, vitae accumsan eros
                lobortis et. Mauris id purus eu magna sollicitudin imperdiet eget at sapien. Maecenas a est eget libero
                tempor venenatis sed ut eros. Sed sit amet lorem nec velit tincidunt dignissim.
            </div>
        </main>

        <aside class="bg-[#edccab] mr-4 border-solid border-2 rounded-md text-center border-[#a67647] h-fit">
            <h3 class="text-2xl font-bold underline mb-2">Site Navigation</h3>
            <div>
                <nav class="mb-2">
                    <ul>
                        <li><a href="/">
                                Home Page</a></li>
                        <li><a href="">Game Breakdown</a>
                        </li>
                        <li><a href="/world-of-fli">World of Ginormosia</a></li>
                        <li><a href="/quest-guide">Main & Side Quests</a></li>
                        <li><a href="">DLC</a>
                        </li>
                        <li><a href="">Database</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
        <div class="social-links">
            <a href="https://discord.gg/Xfqb5DXWPS" target="_blank">Privacy Policy</a>
            <a href="https://ko-fi.com/mittoa_gaming" target="_blank">Disclaimer</a>
        </div>
    </footer>
</body>

</html>