<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLi-Mercenary Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">
        
        <header>
            <h1>Mercenary</h1>
        </header>

        <main>
            <h2 class="adjust-me">Gameplay</h2>

            <p>
                The Hunter is a Life you can choose in the game Fantasy Life. It is one of 12 Lives that can be chosen
                at
                any time during the game by visiting the Guild Master (except during a story mission).

                Hunters use bows to inflict damage and status effects (poison, sleep and paralysis) on enemies from a
                safe distance.
            </p>

            <h2>Skills</h2>

            <p>
                When the player chooses the Hunter life, they learn 1 skill: Archery. The max skill level is 15 (20 with
                the DLC). To unlock the new cap, you must reach Legend rank and talk to Divinus with the Hunter Life
                activated. He will increase the cap of this skill to 20 and upgrade the license to
                God-in-Training/Demi-Creator rank. 
            </p>

            <h2>Abilities</h2>

            <p>
                Press the directional buttons on the D-pad to change the type of arrows you fire. You can switch between:            </p>
            <p>

            <ul class="abilities-list">
                <li>Normal: No special status effects, but you will inflict the most damage</li>
                <li>Poison: When an enemy is struck, they will take ticks of 2 damage for a period of time</li>
                <li>Sleep: When an enemy is struck, they will usually go to sleep. This does not always work, especially with bosses</li>
                <li>Stun: When an enemy is struck, they will usually be inflicted with paralysis for a short time. This does not always work, especially with Bosses</li>
            </ul>
            </p>

            <h2>Equipment</h2>

            <p>
                The Hunters uses bows to inflict damage and status effects (poison, sleep and paralysis) on enemies from a safe distance. Bows can be obtained from:
            </p>

            <p>
            <ul class="equipment-list">
                <li>Shops that are all over the world</li>
                <li>Enemy Drops and Bounties</li>
                <li>Treasure chests that are all over the world</li>
                <li>NPCs such as King Erik Stone</li>
                <li>Crafted by Carpenters</li>
            </ul>
            </p>

            <h2>Challenges</h2>

            <p>
                Class Challenges reward the player with Stars, which accumulate to raise the rank of the player within
                their selected Life Class. Talk to Master Fern to cash in challenge rewards.
            </p>
        </main>

        <aside>
            <h3>Site Navigation</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
    </footer>
</body>

</html>