<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLi-Miner Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">
        <header>
            <h1>Miner</h1>
        </header>

        <main>
            <h2 class="adjust-me">Gameplay</h2>

            <p>
                The Miner is a Life you can choose in the game Fantasy Life. It is one of 14 Lives that can be chosen at any time during the game by visiting the Guild Master (except during a story mission).
            </p>

            <h2>Skills</h2>

            <p>
                When the player chooses the Miner life, they learn 1 skill: Mining. The max skill level is 15 (20 with the DLC). To unlock the new cap, you must reach Legend rank and talk to Divinus with the Miner Life activated. He will increase the cap of this skill to 20 and upgrade the licence to God-in-Training rank.
            </p>

            <h2>Equipment</h2>

            <p>
                The Miner uses pickaxes to mine ores, minerals, and other items from rocks around Reveria.
            </p>

            <p>
                Pickaxes can be obtained from:

            <ul class="equipment-list">
                <li>Shops that are all over the world</li>
                <li>Enemy Drops and Bounties</li>
                <li>Treasure chests that are all over the world</li>
                <li>NPCs such as King Erik Stone</li>
                <li>Crafted by Blacksmiths</li>
            </ul>
            </p>


            <h2>Challenges</h2>

            <p>
                Class Challenges reward the player with Stars which accumulate to raise the rank of the player within their selected Life Class. Talk to Master Duglas to cash in challenge rewards.
            </p>
        </main>

        <aside>
            <h3>Site Navigation</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
    </footer>
</body>

</html>