<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLi-Paladin Guide</title>

    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image" href="images/bone_dragon.jpg" alt="Fantasy Life i Logo and Scenery Art">
</head>

<body class="main-page">
    <div class="content-wrapper">

        <header>
            <h1>Paladin</h1>
        </header>

        <main>
            <h2 class="adjust-me">Gameplay</h2>

            <p>
                The Paladin is a Life you can choose in the game Fantasy Life. It is one of 12 Lives that can be chosen
                at any time during the game by visiting the Guild Master (except during a story mission).

                Paladins use longswords to attack enemies in close combat and shields to block enemies attacks for extra
                protection.
            </p>

            <h2>Skills</h2>

            <p>
                When the player chooses the Paladin life, they learn 2 skills: Longsword and Shield. The max skill level
                is 15 (20 with the DLC). To unlock the new cap, you must reach Legend rank and talk to Divinus with the
                Paladin Life activated. He will increase the cap of all 2 skills to 20 and upgrade the licence to
                God-in-Training rank.
            </p>

            <h2>Abilities</h2>

            <p>
                The Paladin uses one-handed swords to rapidly inflict damage to enemies and a shield to defend
                themselves.
            </p>

            <p>
                They thrive on stats placed into Strength and Vitality. Paladins have a lot of defensive power, but
                sometimes lacks attack strength. In multiplayer or groups, the Paladin is best used to protect their
                group with their shield. They are weak to magic, but strong against physical attacks and could be called
                the tanks of the Fantasy Life universe.
            </p>

            <p>
                When reaching Creator/God rank with Paladin, the player gains the ability Sentinel which can be
                activated when the player has a double charged Skill Gauge. When activated, Sentinel gives the player an
                invincibility buff and constantly refills their Skill Gauge for one minute.
            </p>

            <h2>Equipment</h2>

            <p>
                The Paladin uses longswords to attack enemies in close combat and shields to block enemies attacks for
                extra protection. Both can be obtained from:
            </p>

            <p>
            <ul class="equipment-list">
                <li>Shops that are all over the world</li>
                <li>Enemy Drops and Bounties</li>
                <li>Treasure chests that are all over the world</li>
                <li>NPCs such as King Erik Stone</li>
                <li>Crafted by Blacksmiths</li>
            </ul>
            </p>

            <h2>Challenges</h2>

            <p>
                Class Challenges reward the player with Stars, which accumulate to raise the rank of the player within
                their selected Life Class. Talk to Master Mustang to cash in challenge rewards.
            </p>
        </main>

        <aside>
            <h3>Site Navigation</h3>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home Page</a></li>
                </ul>
            </nav>
        </aside>
    </div>


    <footer>
        <p>&copy; 2024 www.fli-guide.com</p>
    </footer>
</body>

</html>